<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <queries>
        <intent><action android:name="android.media.action.VIDEO_CAPTURE" /></intent>
        <intent><action android:name="android.media.action.IMAGE_CAPTURE" /></intent>
    </queries>
    <application android:icon="@drawable/mt_icon" android:enableOnBackInvokedCallback="true" android:allowBackup="false" android:label="MT球员统计工作台" android:theme="@style/AppTheme" android:usesCleartextTraffic="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.files" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
